# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=yqj0dj48
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_WRITE_TOKEN=your_sanity_write_token_here

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

# Formspree (Phase 8)
FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
